

.Search {
    width: 50%;
    padding: 15px 15px;
    margin: 10px 5px;
    border-radius: 10px;
    box-sizing: border-box;
}

.form1 input{
    padding-left: 20px;
}

.names-1{
    padding-left: 75px;
}

.names-1, .names-2{
    margin-left: 25px;
}

.Button {
    background-color: #0b2002;
    border: none;
    color: whitesmoke;
    border-radius: 15px;
    padding: 15px 42px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
    
}
.Button:hover {opacity: 1}


